/* Primary selectors */
body {
	background-image: url("https://cutewallpaper.org/21/black-background-with-stars/freetoedit-starrybackground-stars-black-background-star.jpg");
	color: #000;
	font-size: large;
}

table {
	width: 500px;
	border-collapse: collapse;
	/* table-layout: fixed; */
}

td {
	border-collapse: collapse;
	padding: 50px;
}
/* IDs and classes*/

#fullpage {
	margin: 100px;
}

#head {
	font-size:250%;
	color: slateblue;

}

.name{
	color:orange;
	font-family: Arial, Helvetica, sans-serif;
	font-size:150%;
}
